# Flutter/Dart
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_copy/

# Flutter-specific
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/web/stack.css.map
/web/stack.css

# Android-specific
.gradle/
local.properties
*.kwks
*.keystore
*.jks
asset_filter.json
captures/
output.json
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# iOS-specific
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
xcuserdata/
DerivedData/
*.moved-aside
Pods/
.bundle/
/ios/.generated/
/ios/Flutter/.last_build_id
/ios/Flutter/Ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
cmake-build-*/

.env